{% extends "layout.html" %}
{% block body_content %}
<div class="content">
        <h1>Be Whoever You Want To Be.</h1>
        <p>For a long time, D&D had a reputation for being a cis-het white man's game, but since the advent of 5e and online platforms such as <a href=https://roll20.net/>Roll20</a> and <a href=https://www.fantasygrounds.com/home/home.php>Fantasy Grounds</a>, the game's demographics have taken a huge shift towards a more diverse player base. more women, people of colour and queer players are being drawn to the game.</p>
	<p>This is by no means an accident - in the recently released <a href=https://dnd.wizards.com/products/tabletop-games/rpg-products/waterdeep-dungeon-mad-mage>Waterdeep: Dungeon of the Mad Mage</a>, there is a questline where you return an NPC to her wife, an obvious LGBT storyline.</p>
	<p>Further, roleplaying games allow you to explore ideas you have about yourself in a safe fantasy environment, so you can see how various aspects of the character interract and how you feel about them.</p> 
	<p>To that end, I would like to present for you this 5e D&D generator:</p>
</div>
<div class="content">
	<div class='form'>
		<form method='Post' action=''>
			{{ form.hidden_tag() }}

			<div class='form_group'>
				<div class="col-sm-3 col-md-6 col-lg-4">
					<p>{{ form.Player_name.label }}: {{ form.Player_name }}</p>
				</div>
				<br>
				<a href="{{ url_for('character') }}" class="myButton" form="GeneratorForm" type=submit">Generate Suggestions</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}


